.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, max-content));
  justify-content: space-around;
  align-items: center;
  width: 1080px;
  padding: 48px;
  column-gap: 48px;
  background: rgb(0 0 0 / 10%);
  border-radius: 8px;
}

@media (max-width: 1080px) {
  .project {
    justify-items: center;
    grid-template-columns: none;
    width: fit-content;
  }
}

@media (max-width: 400px) {
  .project {
    padding: 48px 10px;
  }
}

.projectText {
  z-index: 1;
  height: 100%;
  width: inherit;
  max-width: 100%;
}

.projectImage {
  width: 300px;
  height: calc(300px * 0.5625);
  overflow: hidden;
  background: rgb(0 0 0 / 30%);
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 0;
  transition: transform 0.25s ease;
}

.projectImage:hover {
  -webkit-transform: scale(1.5); /* or some other value */
  transform: scale(1.5);
}

.projectImage > img {
  width: inherit;
}

.projectContainer {
  width: fit-content;
}

.projectName {
  font-size: 32px;
}

.stack > div {
  display: flex;
  width: fit-content;
}

.projects > h1 {
  text-align: center;
}

.stack > div > a > button {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 16px;
  color: white;
}

.stack > div > a > button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
