.wrapper {
  max-width: 1920px;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  display: grid;
  justify-content: end;
  background-color: #222222;
}

nav > ul {
  list-style: none;
  display: grid;
  grid-template-columns: max-content max-content max-content;
}

nav > ul > li > button {
  border: none;
  background-color: transparent;
  padding: 16px 17.5px;
  font-size: large;
  color: rgb(226, 226, 226);
}

nav > ul > li > button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.introduction {
  background-image: url('./images/pexels-roberto-nickson-2559941.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  height: calc(100vh - 55px);
  display: grid;
  align-content: center;
  justify-content: center;
}

@media (min-width: 1900px) {
  .introduction {
    height: calc(1080px - 55px);
  }
  .wrapper {
    width: 1900px;
  }
}

.introduction > div {
  display: grid;
  justify-items: end;
}

.introduction > div > h1 {
  font-size: 42px;
  color: #9bc53d;
  padding: 16px;
  background: #000000ad;
  margin-right: 64px;
  border-radius: 12px 12px 0;
}

.introduction > div > h2 {
  color: #fde74c;
  padding: 16px;
  background: #0000008f;
  width: fit-content;
  border-radius: 0 12px 12px 0;
}

.introduction > div > div {
  padding: 16px;
  background: #00000061;
  margin: 0 20%;
  border-radius: 12px 0 12px 12px;
  fill: #5bc0eb;
  text-align: center;
}

@media (max-width: 474px) {
  .introduction > div > h1 {
    margin-right: 0;
    border-radius: 0;
    width: 100%;
  }

  .introduction > div > h2 {
    width: 100%;
    border-radius: 0;
  }

  .introduction > div > div {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.about {
  height: fit-content;
  background: #ffbf00;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  display: grid;
  justify-content: center;
}

.about > div {
  display: grid;
  text-align: center;
  padding: 48px;
  row-gap: 48px;
  justify-content: center;
  width: fit-content;
}

.about > div > p {
  width: 558px;
  background: #0000001a;
  padding: 16px;
  border-radius: 8px;
}

@media (max-width: 700px) {
  .about > div > p {
    width: fit-content;
  }
}

.projects {
  background: #32936f;
  color: white;
  display: grid;
  justify-content: center;
  row-gap: 48px;
  padding: 48px 0;
}

.contact {
  background-color: #2274a5;
  color: white;
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 48px 0;
  row-gap: 48px;
}

.contact > div {
  background: rgb(0 0 0 / 10%);
  border-radius: 8px;
}

@media (max-width: 616px) {
  .contact {
    display: block;
  }
  .contact > div {
    margin-top: 48px;
  }
}

footer {
  background: #e83f6f;
  color: white;
  text-align: center;
  padding: 12px;
}

footer > a {
  color: white;
}
